body {
  margin:0;
  padding:0;
  width:100vw;
  height:100vh;
  overflow:hidden;
  font-family:'Orbitron', sans-serif;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color:#0F111A;
  color:#BCDCC5;
}

.intense-shadow {
  background-color:#141622;
  animation: intenseShadowColors 8s infinite;
  transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.intense-timer {
  color: rgb(167, 6, 6);
}

.title-container {
  font-weight:bold;
  font-size:42px;
  text-align: center;
  position:relative;
  bottom:20px;
}

.circle-container {
  border-radius:50%;
  box-sizing: border-box;
  width:400px;
  height:400px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align:center;
}

.label-container {
  display:flex;
  justify-content: space-evenly;
  width:100%;
  position:relative;
  bottom:55px;
}

.make-space {
  display:flex;
  justify-content: space-between;
  align-items: center;
  width:100px;
  height:20px;
}

.timer-container {
  width:100%;
}

.clock-container {
  margin:auto;
  box-sizing: border-box;
  width:50%;
  height:55px;
  font-size:42px;
  border-radius:10px;
  box-shadow: inset 0 0 15px #59659B;
}

#timer-label {
  display:none;
}

.buttons-container {
  position:relative;
  top:60px;
  display:flex;
  justify-content: center;
  gap:60px;
  width:100%;
}
.buttons-container i {
  font-size:26px;
}

i {
  color:#ffffff;
  cursor:pointer;
}
i:hover {
  color:darkgrey;
}
i:active {
  color:grey;
}

@keyframes shadowColors {
  0%, 100% {
    box-shadow:0 0 20px 5px #ffffff;
  }
  25% {
    box-shadow:0 0 30px 5px rgb(59, 206, 79);
  }
  50% {
    box-shadow:0 0 30px 5px rgb(205, 171, 35);
  }
  75% {
    box-shadow:0 0 20px 5px #BCDCC5;
  }
}

@keyframes intenseShadowColors {
  0%, 100% {
    box-shadow:0 0 20px 5px rgb(238, 38, 38);
  }
  25% {
    box-shadow:0 0 30px 5px rgb(167, 6, 6);
  }
  50% {
    box-shadow:0 0 30px 5px rgb(167, 6, 6);
  }
  75% {
    box-shadow:0 0 20px 5px rgb(238, 38, 38);
  }
}

.protrude {
  background-color:#141622;
  box-shadow:0 0 20px 5px #ffffff;
}

.animateColors {
  background-color:#141622;
  animation: shadowColors 8s infinite;
  transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}